<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    </head>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<app-menu></app-menu>

<div class="text">
    <h1>¡Excelente trabajo, Ana! </h1>
</div>

<div class="subtext">
    <p>Has completado tu <br> entrenamiento de hoy. <br> ¡Estás un paso más cerca <br> de tus objetivos!</p>
</div>

<div class="square">
    <div class="exercise">
        <p>Ejercicios Completados</p>
        <img src="assets/icon7.svg">
    </div>
    <div class="number">
        <p>3/3</p>
    </div>
    <div class="Squat">
        <p>Sentadillas</p>
    </div>
    <div class="Squat2">
        <p>3-4 series x 12-15 <br> repeticiones</p>
    </div>
    <div class="plank">
        <p>Planchas</p>
    </div>
    <div class="plank2">
        <p>3-4 series x <br> 20-30 segundos</p>
    </div>
    <div class="weights">
        <p>Pesas</p>
    </div>
    <div class="weights2">
        <p>3-4 series x 8-12 <br> repeticiones</p>
    </div>
</div>

<div class="next">
    <p>Próximo Entrenamiento: Mañana</p>
    <img src="assets/icon8.svg">
</div>

<div class="image">
    <img src="assets/img4.svg">
</div>