<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    </head>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<app-menu></app-menu>
<div class="text">
    <p>Tu plan <br> personalizado</p>
</div>

<div class="text2">
    <p>Plan de 4 días/semana</p>
    <img src="assets/calendary.svg">
</div>

<div class="square">
    <div class="weigths">
    <img src="assets/pesas.svg">
</div>
    <p>Día 1: Piernas</p>
    <div class="icon">
        <img src="assets/icon3.svg">
    </div>
</div>

<div class="square2">
    <div class="weigths2">
    <img src="assets/pesas.svg">
</div>
    <p>Día 2: Brazos</p>
    <div class="icon2">
        <img src="assets/icon3.svg">
    </div>
</div>

<div class="square3">
    <div class="weigths3">
    <img src="assets/pesas.svg">
</div>
    <p>Día 3: Pecho</p>
    <div class="icon3">
        <img src="assets/icon3.svg">
    </div>
</div>

<div class="square4">
    <div class="weigths4">
    <img src="assets/pesas.svg">
</div>
    <p>Día 4: Abdomen</p>
    <div class="icon4">
        <img src="assets/icon3.svg">
    </div>
</div>

<button class="button" (click)="onLogin()">
    <span>Comenzar Entrenamiento</span>
</button>