<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    </head>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<app-menu></app-menu>
<div class="text">
    <p>Tu plan <br> personalizado</p>
</div>

<div class="text2">
    <p>Sentadillas</p>
    <img src="assets/Squat.gif">
</div>

<div class="text3">
    <p>Párese con los pies al ancho de los <br> hombros, baja flexionando las <br> rodillas y empujando las caderas <br> hacia atrás. Luego, empuja con los <br> talones para volver a subir.</p>
</div>

<div class="text4">
    <p>Realiza 3-4 series de 12-15 <br> repeticiones, descansando 30-60 <br> segundos entre series.</p>
</div>

<button class="button" (click)="onLogin()">
    <span>Terminado</span>
</button>