<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    </head>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<app-menu></app-menu>
<div class="text">
    <p>Tu Plan Semanal</p>
</div>

<div class="details">
    <p>Ver Detalles</p>
    <img src="assets/icon5.svg">
</div>

<div class="text2">
    <p>4 días / semana</p>
    <img src="assets/icon6.svg">
</div>

<div class="subtext2">
    <p>Entrenamiento programado</p>
</div>

<div class="text3">
    <p>Tonificación y Fuerza</p>
</div>

<div class="subtext3">
    <p>Tus objetivos principales</p>
</div>

<div class="visto">
    <p>Objetivos Alcanzados</p>
    <img src="assets/icon4.svg">
</div>

<div class="text4">
    <h1>Próximo Entrenamiento: Día 2</h1>
</div>

<div class="details2">
    <p>Ver Detalles</p>
    <img src="assets/icon5.svg">
</div>

<div class="square">
    <p>Peso muerto</p>
    <div class="subtext">
        <p>3 x 10 • 40kg</p>
    </div>
</div>

<div class="square2">
    <p>Dominadas</p>
    <div class="sub-text2">
        <p>3 x 6</p>
    </div>
</div>

<div class="square3">
    <p>Burpees</p>
    <div class="sub-text3">
        <p>3 x 12</p>
    </div>
</div>

<button class="button" (click)="onLogin()">
    <span>Finalizar Entrenamiento</span>
</button>