<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    </head>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<app-menu></app-menu>
<div class="text">
    <p>Seguimiento <br> de progreso</p>
</div>

<div class="text2">
    <p>Día 1 completado</p>
</div>

<div class="square">
    <p>Sentadillas</p>
    <div class="subtext">
        <p>3-4 series x 12-15 repeticiones</p>
    </div>
    <div class="icon">
        <img src="assets/icon4.svg">
    </div>
</div>

<div class="square2">
    <p>Plancha</p>
    <div class="subtext2">
        <p>3-4 series x 20-30 segundos</p>
    </div>
    <div class="icon2">
        <img src="assets/icon4.svg">
    </div>
</div>

<div class="square3">
    <p>Pesas</p>
    <div class="subtext3">
        <p>3-4 series x 8-12 repeticiones</p>
    </div>
    <div class="icon3">
        <img src="assets/icon4.svg">
    </div>
</div>

<button class="button" (click)="onLogin()">
    <span>Siguiente</span>
</button>