<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    </head>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<app-menu></app-menu>
<div class="text">
    <p>Tu plan <br> personalizado</p>
</div>

<div class="text2">
    <p>Pesas</p>
    <img src="assets/plank.gif">
</div>

<div class="text3">
    <p>En la plancha con movimiento de <br> cadera, mantén la posición de <br> plancha y mueve las caderas de un <br> lado a otro. Trabaja los oblicuos y <br> mejora el control del core.</p>
</div>

<div class="text4">
    <p>Realiza 3-4 series de 20-30 <br> segundos, descansando 30 <br> segundos entre series.</p>
</div>

<button class="button" (click)="onLogin()">
    <span>Terminado</span>
</button>